In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [18]:
food_data = pd.read_csv("/content/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")
food_data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [19]:
food_data.shape

(60943, 12)

In [20]:
food_data.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [21]:
food_data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [96]:
print(food_data['Element Code'].corr(food_data['Y2014']))

0.024456819495221754

In [97]:
print(food_data['Element Code'].corr(food_data['Y2015']))

0.023889199301639956

In [98]:
print(food_data['Element Code'].corr(food_data['Y2016']))

0.023443997584961424

In [99]:
print(food_data['Element Code'].corr(food_data['Y2017']))

0.02425400776004575

In [100]:
print(food_data['Element Code'].corr(food_data['Y2018']))

0.02427857195351955

In [25]:
(1589/60943)*100

2.6073544131401474

In [26]:
food_data.groupby('Item')['Y2015'].sum()

Item
Alcohol, Non-Food        2180.00
Alcoholic Beverages     98783.72
Animal Products         11811.73
Animal fats            200675.72
Apples and products     10559.15
                         ...
Vegetables, Other      158104.08
Vegetal Products       107064.17
Wheat and products     234710.51
Wine                     4251.81
Yams                   203151.78
Name: Y2015, Length: 119, dtype: float64

In [27]:
food_data.groupby('Item')['Y2018'].sum()

Item
Alcohol, Non-Food        2293.00
Alcoholic Beverages     97847.27
Animal Products         11578.61
Animal fats            269648.27
Apples and products      9640.51
                         ...
Vegetables, Other      163987.21
Vegetal Products       107775.39
Wheat and products     242645.19
Wine                     4039.32
Yams                   221272.09
Name: Y2018, Length: 119, dtype: float64

In [32]:
food_data.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [35]:
uni_countries=food_data['Area'].unique()
print(uni_countries)
print(len(uni_countries))

['Algeria' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Cabo Verde'
 'Cameroon' 'Central African Republic' 'Chad' 'Comoros' 'Congo'
 "Côte d'Ivoire" 'Djibouti' 'Egypt' 'Eswatini' 'Ethiopia' 'Ethiopia PDR'
 'Gabon' 'Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Kenya' 'Lesotho'
 'Liberia' 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mauritius' 'Morocco'
 'Mozambique' 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Sao Tome and Principe'
 'Senegal' 'Seychelles' 'Sierra Leone' 'South Africa' 'Sudan'
 'Sudan (former)' 'Togo' 'Tunisia' 'Uganda' 'United Republic of Tanzania'
 'Zambia' 'Zimbabwe']
49

In [49]:
df2 = food_data.groupby(['Element','Area'])['Y2015'].agg(['sum','count']).reset_index()
print(df2)

                      Element                   Area       sum  count
0    Domestic supply quantity                Algeria  85972.86    113
1    Domestic supply quantity                 Angola  55482.91    118
2    Domestic supply quantity                  Benin  27661.67    116
3    Domestic supply quantity               Botswana   2916.14    117
4    Domestic supply quantity           Burkina Faso  23658.17    118
..                        ...                    ...       ...    ...
798       Tourist consumption             Cabo Verde      5.00     90
799       Tourist consumption                  Egypt    286.00     94
800       Tourist consumption                  Kenya     17.00     98
801       Tourist consumption              Mauritius     29.00     91
802       Tourist consumption  Sao Tome and Principe     12.00     83

[803 rows x 4 columns]

In [50]:
print(df2[df2['Area'].str.contains('Madagascar')])

                                    Element        Area       sum  count
25                 Domestic supply quantity  Madagascar  31214.98    119
74                          Export Quantity  Madagascar    494.75    101
121      Fat supply quantity (g/capita/day)  Madagascar     91.85    111
168                                    Feed  Madagascar   2070.22     32
217                                    Food  Madagascar  21120.65    110
264           Food supply (kcal/capita/day)  Madagascar   7685.00    111
309     Food supply quantity (kg/capita/yr)  Madagascar    871.59    110
356                         Import Quantity  Madagascar   1721.80    107
403                                  Losses  Madagascar   2176.00     55
450                   Other uses (non-food)  Madagascar   3957.12     51
497                              Processing  Madagascar   1803.00     76
544                              Production  Madagascar  29482.89    110
591  Protein supply quantity (g/capita/day)  Madagascar    173.05    111
636                               Residuals  Madagascar   -616.00    105
681                                    Seed  Madagascar    699.00     21
727                         Stock Variation  Madagascar   -505.00     98
774           Total Population - Both sexes  Madagascar  24234.00      1

In [51]:
food_data.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Area Code        134.265576
Item Code       2687.176706
Element Code    3814.856456
Y2014            134.196282
Y2015            135.235966
Y2016            136.555222
Y2017            140.917765
Y2018            143.758381
dtype: float64

In [78]:
df3=food_data.groupby('Area')['Y2017'].sum().reset_index()
df3.sort_values(by=['Y2017'], ascending=False)

                           Area       Y2017
34                      Nigeria  1483268.23
13                        Egypt   866379.92
40                 South Africa   517590.54
15                     Ethiopia   448683.76
30                      Morocco   388495.36
19                        Ghana   337599.06
0                       Algeria   325644.27
46  United Republic of Tanzania   322616.85
22                        Kenya   264660.66
41                        Sudan   239931.92
6                      Cameroon   232030.43
1                        Angola   229159.57
11                Côte d'Ivoire   224599.01
45                       Uganda   213950.38
26                       Malawi   181098.71
31                   Mozambique   161407.98
28                   Mauritania   156665.46
27                         Mali   149928.33
25                   Madagascar   131197.73
33                        Niger   126707.58
2                         Benin   124771.22
44                      Tunisia   124167.20
47                       Zambia   103223.77
4                  Burkina Faso   101855.07
20                       Guinea    98138.87
37                      Senegal    95681.15
48                     Zimbabwe    75919.34
35                       Rwanda    73663.69
8                          Chad    71594.68
39                 Sierra Leone    55311.33
14                     Eswatini    54343.33
29                    Mauritius    51114.83
43                         Togo    49841.88
10                        Congo    41181.68
7      Central African Republic    29937.00
32                      Namibia    29874.89
24                      Liberia    29342.20
17                        Gabon    27979.64
18                       Gambia    23154.18
12                     Djibouti    22729.91
3                      Botswana    22101.30
23                      Lesotho    21267.96
21                Guinea-Bissau    19102.77
5                    Cabo Verde    14650.74
36        Sao Tome and Principe    12662.63
38                   Seychelles      442.34
9                       Comoros       59.84
42               Sudan (former)        0.00
16                 Ethiopia PDR        0.00

In [64]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [70]:
x=y[1][-1]
print(x)

8

In [80]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [81]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [88]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'